<div>
    <ul>
        <li>eeo</li>
        <li>cześć</li>
        <li>siema</li>
        <li>bry</li>
        <li>
            <div>
                <div>
                    <div>uuuuuuu</div>
                </div>
            </div>
        </li>
    </ul>
</div>